<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PsyTECH: P. syringae Type III effector Compendium @ Hopper</title>
  <meta name="author" content="Anurag Priyam">
  <meta name="author" content="Ben J. Woodcroft">
  <meta name="author" content="Vivek Rai">
  <meta name="author" content="Cedric Wurm">
  <meta name="author" content="Yannick Wurm">
  <meta name="description" content="Custom BLAST server provided by SequenceServer (http://www.sequenceserver.com)"/>

  <!-- CSS -->
  <% if settings.production? %>
    <link rel="stylesheet" media="screen,print" type="text/css" href="../css/sequenceserver.min.css?ver=<%= SequenceServer::VERSION %>"/>
  <% else %>
    <link rel="stylesheet" media="screen,print" type="text/css" href="../css/sequenceserver.css"/>
  <% end %>
</head>

<body>
  <div
    class="navbar">
    <div
      class="container">
      <a
        class="navbar-brand"
        href="../" target="_self">
        PsyTECH
        <small>
          P. syringae Type III effector Compendium @ hopper.csb.utoronto.ca (SequenceServer <%= SequenceServer::VERSION %>)
        </small>
      </a>
      <ul class="nav navbar-nav navbar-right hover-reset focus-reset">
        <li>
          <a
            target="_self"
            href="/help/">
            <i class="fa fa-comment-o"></i>
            &nbsp;Help &amp; Support
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
   <h3> If the site is not correctly working (links to sequences are not opening in a new window) please disable your adblocker and your popup blocker. This site does not have any ads.<h3>
   You can also try hard refreshing the page holding some combination of Ctrl and Shift and pressing R, F5, or your browser's refresh button. The combination varies depending on your browser and operating system.
   TEST
  </div>
  <div
    class="footer" id="footer">
    <hr>
    <div
      class="container">
      <p
        class="text-center">
        <a
          href='http://www.sequenceserver.com'>
          <%=
            quote = [
              "Custom BLAST web interface by SequenceServer.",
              "SequenceServer: Local BLAST with bespoke html interface.",
              "Set up custom BLAST interface with SequenceServer.",
              "Easy BLASTing with SequenceServer.",
              "Run BLAST locally with Sequenceserver.",
              "BLAST against a custom, local database with SequenceServer.",
              "Run BLAST locally on Mac OSX with SequenceServer.",
              "Run BLAST locally on Ubuntu with SequenceServer.",
              "Run BLAST locally on Linux with SequenceServer."
            ][rand(9)]
          %>
        </a>
        <a
          class="twitter-share-button"
          href="https://twitter.com/share"
          data-url="http://www.sequenceserver.com" data-text="<%= quote %>" data-via="yeban" data-hashtags="bioinformatics">
         Tweet
        </a>
        <br>
        Please cite relevant data sources and:
        <a href="https://doi.org/10.1093/molbev/msz185">
          Priyam et al. (2019) Sequenceserver: a modern graphical user interface for custom BLAST databases</a>.
      </p>
    </div> <!-- /container -->
  </div>

  <!-- twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
